[general]
archive = "FAC"
minterUrl = ""
minterAuthorisation = "token"
minterOrgId = "12345"
iiifBaseUrl = "iiif.example.com"
catalogueBaseUrl = "atom.example.com"

[filemaker]
archiveId = "PostID_Arkivbildare"
organisationName = "Organisation"
county = "Distrikt län"
municipality = "Kommun"
city = "Ort"
parish = "Socken"

[logging]
a = ""