{% extends "base.html" %}

{% block title %}Job #{{job.pk}} - {{stepName}}{% endblock %}

{% block content %}


<div class="p-0">
    <form class="form" method="POST" action="{% url 'metadata:edit_job' job.pk stepParam %}">
        {% csrf_token %}
        {% if 'mint' in stepParam%}
        <div class="alert alert-warning" role="alert">
            <p>NOTE: Changing the ARK/Handle links below does NOT create or update any records in the ARK/Handle
                server!</p>
            <p>Please use the respective, dedicated tool, if you want to create or modify records in the ARK/Handle
                server!</p>
        </div>
        {%endif %}
        {% if stepParam == 'ner' %}
        <div class="accordion  mb-5" id="accordionExample">
            {{ form.management_form }}
            {%for pageForm in form%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{pageForm.order}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{pageForm.order}}" aria-expanded="true"
                            aria-controls="collapse{{pageForm.order}}">
                        Page {{pageForm.order}}
                    </button>
                </h2>
                <div id="collapse{{pageForm.order}}" class="accordion-collapse collapse show"
                     aria-labelledby="heading{{pageForm.order}}"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <label for="{{pageForm.measures.auto_id}}" class="form-label pt-3">{{pageForm.measures.label}}
                                {{pageForm.measures}}</label>
                        </div>
                        <div class="row">
                            <label for="{{pageForm.transcription.auto_id}}" class="form-label pt-3">{{pageForm.transcription.label}} </label>
                            {{pageForm.transcription}}
                        </div>
                        <div class="row">
                            <label for="{{pageForm.normalisedTranscription.auto_id}}" class="form-label pt-3">{{pageForm.normalisedTranscription.label}} </label>
                            {{pageForm.normalisedTranscription}}
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label for="{{pageForm.persons.auto_id}}" class="form-label pt-3">{{pageForm.persons.label}} </label>
                                {{pageForm.persons}}
                            </div>
                            <div class="col">
                                <label for="{{pageForm.organisations.auto_id}}" class="form-label pt-3">{{pageForm.organisations.label}} </label>
                                {{pageForm.organisations}}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label for="{{pageForm.locations.auto_id}}" class="form-label pt-3">{{pageForm.locations.label}} </label>
                                {{pageForm.locations}}
                            </div>
                            <div class="col">
                                <label for="{{pageForm.times.auto_id}}"
                                       class="form-label pt-3">{{pageForm.times.label}} </label>
                                {{pageForm.times}}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label for="{{pageForm.works.auto_id}}"
                                       class="form-label pt-3">{{pageForm.works.label}} </label>
                                {{pageForm.works}}
                            </div>
                            <div class="col">
                                <label for="{{pageForm.events.auto_id}}" class="form-label pt-3">{{pageForm.events.label}} </label>
                                {{pageForm.events}}
                            </div>
                            <div class="col">
                                <label for="{{pageForm.ner_objects.auto_id}}" class="form-label pt-3">{{pageForm.ner_objects.label}} </label>
                                {{pageForm.ner_objects}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            <div style="position:fixed;bottom:5px;right:5px;" class="bg-light bg-gradient border rounded p-2 vstack">
                <input type="submit" value="Confirm" class="btn btn-success float-end m-2" name="confirm">
                <a href="{% url 'metadata:job' job.pk %}" class="btn btn-danger float-end m-2">Cancel</a>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="row">
                <div class="col-7 px-3 border rounded h-100">

                    {% for field in form %}
                    <div class="row py-3 px-2">
                        {%if field.field.widget.input_type == 'checkbox'%}
                        <label for="{{field.auto_id}}" class="form-label">{{field.label}} </label>
                        {%if field.errors%}
                        <label class="text-danger">Please select at least one value!</label>
                        {%endif%}
                        <fieldset>
                            {% for box in field %}
                            <div class="form-check">
                                {{ box }}
                            </div>
                            {% endfor %}
                        </fieldset>
                        {%else%}
                        {{field.widget}}
                        <label for="{{field.auto_id}}" class="form-label">{{field.label}} </label>
                        {{ field }}
                        {%endif%}
                    </div>
                    {% endfor %}

                    {% if 'mint' in stepParam%}
                    <div class="accordion  my-5" id="pageLevel">
                        {%if pageForm.errors%}
                        <div class="alert alert-danger" role="alert">One or more pages below contain errors. Please
                            verify your inputs.
                        </div>
                        {%endif%}
                        {{ pageForm.management_form }}
                        {%for pf in pageForm%}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{pf.filename}}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{pf.filename}}" aria-expanded="true"
                                        aria-controls="collapse{{pf.filename}}">
                                    Page: {{pf.filename}}
                                </button>
                            </h2>
                            <div id="collapse{{pf.filename}}" class="accordion-collapse collapse show"
                                 aria-labelledby="heading{{pf.filename}}"
                                 data-bs-parent="#pageLevel">
                                <div class="accordion-body">
                                    {% for field in pf %}
                                    <div class="row py-3 px-2">
                                        {%if field.field.widget.input_type == 'checkbox'%}
                                        <label for="{{field.auto_id}}" class="form-label">{{field.label}} </label>
                                        {%if field.errors%}
                                        <label class="text-danger">Please select at least one value!</label>
                                        {%endif%}
                                        <fieldset>
                                            {% for box in field %}
                                            <div class="form-check">
                                                {{ box }}
                                            </div>
                                            {% endfor %}
                                        </fieldset>
                                        {%else%}
                                        {{field.widget}}
                                        <label for="{{field.auto_id}}" class="form-label">{{field.label}} </label>
                                        {{ field }}
                                        {%if field.errors%}
                                        {%for e in field.errors%}
                                        <label class="text-danger">{{e}}</label>
                                        {%endfor%}
                                        {%endif%}
                                        {%endif%}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endfor%}

                        {% if pageForm.total_form_count > 3 %}
                        <div style="position:fixed;bottom:5px;right:5px;"
                             class="bg-light bg-gradient border rounded p-2 vstack">
                            <input type="submit" value="Confirm" class="btn btn-success float-end m-2" name="confirm">
                            <a href="{% url 'metadata:job' job.pk %}" class="btn btn-danger float-end m-2">Cancel</a>
                        </div>
                        {% endif %}

                    </div>
                    {% endif %}
                    <input type="submit" value="Confirm" class="btn btn-success mb-3 mt-2 ms-2 float-end"
                           name="confirm">
                    <a href="{% url 'metadata:job' job.pk %}" class="btn btn-danger mb-3 mt-2 float-end">Cancel</a>


                </div>
                <div class="col">
                    {% include "components/report_details.html" with report=job.report show_pages=False%}
                </div>
            </div>

        </div>

        {%endif%}
    </form>
</div>

{% endblock %}