{% extends "base.html" %}

{% block title %}Job #{{job.pk}} - {{stepName}}{% endblock %}

{% block content %}


<div class="p-0">
    <form class="form" method="POST" action="{% url 'metadata:edit_job' job.pk stepParam %}">
        {% csrf_token %}
        {% if stepParam == 'ner' %}
        <div class="accordion" id="accordionExample">
            {{ form.management_form }}
            {%for pageForm in form%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{pageForm.order}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{pageForm.order}}" aria-expanded="true"
                            aria-controls="collapse{{pageForm.order}}">
                        Page {{pageForm.order}}
                    </button>
                </h2>
                <div id="collapse{{pageForm.order}}" class="accordion-collapse collapse show"
                     aria-labelledby="heading{{pageForm.order}}"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{pageForm}}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>


        {%else%}
        {{form.as_p}}
        {%endif%}
        <input type="submit" value="Confirm" class="btn btn-success" name="confirm">
    </form>
</div>

{% endblock %}