{% extends "base.html" %}

{% block title %}Job #{{job.pk}} - {{stepName}}{% endblock %}

{% block content %}


<div class="p-0">
    <form class="form" method="POST" action="{% url 'metadata:edit_job' job.pk stepParam %}">
        {% csrf_token %}
        {% if stepParam == 'ner' %}
        <div class="accordion" id="accordionExample">
            {{ form.management_form }}
            {%for pageForm in form%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{pageForm.order}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{pageForm.order}}" aria-expanded="true"
                            aria-controls="collapse{{pageForm.order}}">
                        Page {{pageForm.order}}
                    </button>
                </h2>
                <div id="collapse{{pageForm.order}}" class="accordion-collapse collapse show"
                     aria-labelledby="heading{{pageForm.order}}"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{pageForm}}
                    </div>
                </div>
            </div>
            {%endfor%}
            <input type="submit" value="Confirm" class="btn btn-success mb-3 mt-2 float-end" name="confirm">
        </div>
        {%else%}
        <div class="container">
            <div class="row">
                <div class="col-7 px-3 border rounded h-100">
                    {% for field in form %}
                    <div class="row py-3 px-2">
                        {%if field.field.widget.input_type == 'checkbox'%}
                        <label for="{{field.auto_id}}" class="form-label">{{field.label}} </label>
                        <fieldset>
                            {% for box in field %}
                                <div class="form-check">
                                    {{ box }}
                                </div>
                                {% endfor %}
                        </fieldset>
                        {%else%}
                        {{field.widget}}
                        <label for="{{field.auto_id}}" class="form-label">{{field.label}} </label>
                        {{ field }}
                        {%endif%}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Confirm" class="btn btn-success mb-3 mt-2 float-end" name="confirm">
                </div>
                <div class="col">
                    {% include "components/report_details.html" with report=job.report show_pages=False%}
                </div>
            </div>
        </div>

        {%endif%}

    </form>
</div>

{% endblock %}