{% extends "base.html" %}

{% block title %}Job #{{job.pk}}{% endblock %}

{% block content %}

<div class="p-0">
    <div class="row">
        <div class="col-2 text-center">
            <strong>Status:</strong>
        </div>
        <div class="col">
            <p>{{job.get_status_display}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center">
            <strong>Union ID:</strong>
        </div>
        <div class="col">
            <p>{{job.report.unionId|default:'not assigned yet'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center">
            <strong>Created on:</strong>
        </div>
        <div class="col">
            <p>{{job.dateCreated|date:"d M Y, H:i"}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center">
            <strong>Start Date:</strong>
        </div>
        <div class="col">
            <p>{{job.startDate|date:"d M Y, H:i"}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-center">
            <strong>End Date:</strong>
        </div>
        <div class="col">
            <p>{{job.endDate|date:"d M Y, H:i"}}</p>
        </div>
    </div>

    <hr/>

    <h2 class="mt-2">Processing Steps</h2>
    <div class="row">
        <div class="col-7">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="row" class="text-center">Step Name</th>
                    <th scope="row" class="text-center">Status</th>
                    <th scope="row" class="text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for stepData in steps%}
                <tr>
                    <th scope="row" class="text-center">{{stepData.step.get_processingStepType_display}}</th>
                    <td class="text-center">{{stepData.step.get_status_display}}</td>
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" class="px-2">
                            <a style="cursor:pointer;" href="{% url 'metadata:edit_job' job.pk stepData.urlName%}"
                               title="Manually Edit Fields"><i class="fa-solid fa-pencil text-dark"></i></a>
                        </span>
                        {%if stepData.step.mode == 'AUTOMATIC'%}
                        <span data-bs-toggle="tooltip">
                            <a style="cursor:pointer;" href="{% url 'metadata:restart' job.pk stepData.urlName%}"
                               title="Rerun Processing Step"><i class="fa-solid fa-repeat text-dark"></i></a>
                        </span>
                        {%endif%}
                    </td>
                </tr>

                {%endfor%}

                </tbody>
            </table>

        </div>
        <div class="col-3">
            {% if error%}
            <h5>Error in Step: {{error.step}}</h5>
            <p>{{error.message}}</p>
            {% endif %}
        </div>
    </div>
    <hr/>

    {% include "components/report_details.html" with report=job.report show_pages=True%}


</div>
{% endblock %}