{% extends "base.html" %}

{% block title %}Verify Extraction Transfer: "{{transfer.name}}"{% endblock %}

{% block content %}
<div class="p-0">
    <form class="form" method="POST" action="{% url 'metadata:verify_transfer' transfer.id%}">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-success">

        <button class="btn btn-danger" hx-get="{% url 'metadata:transfer_cancel_modal' transfer.id %}"
                hx-target="#modalContainer" hx-trigger="click" data-bs-toggle="modal"
                data-bs-target="#modalContainer" class="px-1">Cancel
        </button>
    </form>
</div>
<div class="p-1 mt-5">

    <div class="accordion" id="accordionExample">
        {%for report in transfer.report_set.all %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{report.pk}}"
                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Organisation ID: {{report.unionId}} - Year(s) Covered: {{report.get_date_display}}
                </button>
            </h2>
            <div id="{{report.pk}}" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <p>Pages:</p>
                    <ul class="list-group list-group-flush">
                        {%for page in report.page_set.all%}
                        <li class="list-group-item">{{page.originalFileName}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}