<div class="p-2 border rounded">
    <h2>Report Details</h2>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Identifier:</strong>
        </div>
        <div class="col">
            {%if report.identifier%}
            <span data-bs-toggle="tooltip"><a href="{{report.identifier}}" target="_blank" title="Opens in new tab">{{report.identifier}}
                <i class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a></span>
            {%else%}
            not assigned yet
            {%endif%}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Title:</strong>
        </div>
        <div class="col">
            {{report.title|default:'not assigned yet'}}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Creator:</strong>
        </div>
        <div class="col">
            {{report.creator|default:'name not assigned yet'}}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Date:</strong>
        </div>
        <div class="col">
            {{report.get_date_display|default:'not assigned yet'}}
        </div>
    </div>

    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Language:</strong>
        </div>
        <div class="col">
            {{report.get_language_display|default:'not assigned yet'}}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Spatial:</strong>
        </div>
        <div class="col">
            {{report.get_spatial_display|default:'not assigned yet'}}
        </div>
    </div>




    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>License:</strong>
        </div>
        <div class="col">
            {{report.get_license_display|default:'not assigned yet'}}
        </div>
    </div>




    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>accessRights:</strong>
        </div>
        <div class="col">
            {{report.get_accessRights_display|default:'not assigned yet'}}
        </div>
    </div>

    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Created:</strong>
        </div>
        <div class="col">
            {{report.created.year|default:'not assigned yet'}}
        </div>
    </div>

    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Source:</strong>
        </div>
        <div class="col">
            {{report.get_source_display|default:'not assigned yet'}}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Description:</strong>
        </div>
        <div class="col">
            {{report.description|default:'not assigned yet'}}
        </div>
    </div>


    {%if mode == 'arab'%}
        <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Report Type:</strong>
        </div>
        <div class="col">
            {{report.type_other|default:'not assigned yet'}}
        </div>
    </div>

    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Format:</strong>
        </div>
        <div class="col">
            {{report.format|default:'not assigned yet'}}
        </div>
    </div>

     <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Comment:</strong>
        </div>
        <div class="col">
            {{report.comment|default:'not assigned yet'}}
        </div>
    </div>

    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Medium:</strong>
        </div>
        <div class="col">
            {{report.medium|default:'not assigned yet'}}
        </div>
    </div>


        <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Publisher:</strong>
        </div>
        <div class="col">
            {{report.publisher|default:'not assigned yet'}}
        </div>
    </div>
    {%else%}
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Report Type:</strong>
        </div>
        <div class="col">
            {{report.get_type_display|default:'not assigned yet'}}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>isVersionOf:</strong>
        </div>
        <div class="col">
            {{report.isVersionOf|default:'not assigned yet'}}
        </div>
    </div>
    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>isFormatOf:</strong>
        </div>
        <div class="col">
            {{report.get_isFormatOf_display|default:'not assigned yet'}}
        </div>
    </div>


        <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>References:</strong>
        </div>
        <div class="col">
            {%if report.references%}
            <span data-bs-toggle="tooltip"><a href="{{report.references}}" target="_blank" title="Opens in new tab">{{report.references}}
                <i class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a></span>
            {%else%}
            not assigned yet
            {%endif%}
        </div>
    </div>

     <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Available:</strong>
        </div>
        <div class="col">
            {{report.available|default:'not assigned yet'}}
        </div>
    </div>

    <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Relation:</strong>
        </div>
        <div class="col">
            {%if report.relation%}
            {%for relation in report.relation%}
            <ul class="list-unstyled">
                <li><span data-bs-toggle="tooltip"><a href="{{relation}}" target="_blank" title="Opens in new tab">{{relation}}
                <i class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a></span></li>
            </ul>
            {%endfor%}
            {%else%}
            not assigned yet
            {%endif%}
        </div>
    </div>

      <div class="row d-flex align-items-center py-2">
        <div class="col-3">
            <strong>Coverage:</strong>
        </div>
        <div class="col">
            {{report.get_coverage_display|default:'not assigned yet'}}
        </div>
    </div>
    {% endif%}

</div>
{%if show_pages == True%}
<div class="pt-5">
    {%if mode != 'arab'%}
    <p>{{report.reportTranslations.count}}</p>
    {% include "components/report_translation.html" with translations=report.reporttranslation_set.all %}
    {%endif%}
    {% include "components/page_details.html" with pages=report.page_set.all %}
</div>
{%endif%}