<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">
                Delete Collection "{{transfer.name}}"?
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure that you want to cancel this extraction transfer? All related data will be deleted and you will
            have to create a new extraction process to process the files!
        </div>
        <div class="modal-footer">
             <span hx-delete="{% url 'metadata:transfer' transfer.id %}?redirect" class="btn btn-danger" role="button"
                   data-bs-dismiss="modal">
                 Yes, cancel extraction transfer
             </span>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                Return to verification details
            </button>
        </div>
    </div>
</div>

