<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Details for Extraction Process "{{transfer.name}}"
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p><strong>Processing Status:</strong> {{transfer.status}}</p>
            {%if transfer.jobs.count > 0 %}

            <h4 class="mt-4">Jobs</h4>
            <table class="table table-sm">
                <thead>
                <th scope="row" class="text-center">ID</th>
                <th scope="row" class="text-center">Date</th>
                <th scope="row" class="text-center">Org. ID</th>
                <th scope="row" class="text-center">Pages</th>
                <th scope="row" class="text-center">Job Stage</th>
                <th scope="row" class="text-center">Job Status</th>
                <th></th>
                </thead>
                <tbody>
                {%for job in transfer.jobs.all %}
                <tr>
                    <th scope="row" class="text-center">{{job.report.id}}</th>
                    <td class="text-center">{{job.report.dateString}}</td>
                    <td class="text-center">{{job.report.unionId}}</td>
                    <td class="text-center">{{job.report.page_set.count}}</td>
                    <td class="text-center">Unknown</td>
                    <td class="text-center">{{job.status}}</td>
                    <td class="text-center">
                        <a href="{% url 'metadata:job' job.pk %}">
                            {% if job.status.name == AWAITING_HUMAN_INPUT or job.status.name == AWAITING_HUMAN_VALIDATION %}
                            <i class="fa-solid fa-pencil text-dark"></i>
                            {% else %}
                            <i
                                class="fa-solid fa-magnifying-glass text-dark"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
            {%else%}
            No jobs found.
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>

