# Modify the values according to your local setup and rename the file to ".env"

# General Settings:
ARCHIVE_INST=FAC
MINTER_URL=
MINTER_AUTH=
MINTER_ORG_ID=12345
IIIF_BASE_URL=iiif.example.com
CATALOGUE_BASE_URL=atom.example.com

# Column names for Filemaker CSV import:
FM_ARCHIVE_ID=PostID_Arkivbildare
FM_ORGANISATION_NAME=Organisation
FM_COUNTY=Distrikt län
FM_MUNICIPALITY=Kommun
FM_CITY=Ort
FM_PARISH=Socken

# Database settings:
POSTGRES_DB=lmming
POSTGRES_USER=lmming
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis settings:
REDIS_HOST=redis://localhost
REDIS_PORT=6379

# Django Settings
DEBUG=True
SECRET_KEY=your_key
MEDIA_PATH="../tmp"