<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LMMing - Labour's Memory Metadata Handling</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'metadata/htmx.min.js' %}"></script>
    <script src="{% static 'metadata/jquery.min.js' %}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'metadata/favicon-32x32.png' %}">
    <style>
        body {
          min-height: 25rem;
          padding-top: 4.5rem;
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center fixed-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand d-flex w-30 ">LMMing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item me-2">
                    <a class="btn btn-outline-light" href="/">LM Processes</a>
                </li>
                <li class="nav-item me-5">
                    <a class="btn btn-outline-light" href="{% url 'metadata:waiting_jobs'%}">LM Waiting Jobs
                        <span hx-trigger="load, every 20s[allowRefresh()]" hx-target="#counterSpan"
                              hx-get="{%url 'metadata:waiting_count'%}">
                        <span id="counterSpan" class="ms-2 badge bg-danger rounded-pill"></span>
                        </span>
                    </a>
                </li>

                {%if ARCHIVE_INST == "ARAB" %}
                <li class="nav-item me-2 ms-5">
                    <a class="btn btn-outline-light" href="{%url 'metadata:arab_index'%}">ARAB Processes</a>
                </li>
                <li class="nav-ite me-5">
                    <a class="btn btn-outline-light" href="{% url 'metadata:waiting_jobs'%}?mode=arab">ARAB Waiting Jobs
                        <span hx-trigger="load, every 20s[allowRefresh()]" hx-target="#counterSpan2"
                              hx-get="{%url 'metadata:waiting_count'%}?mode=arab">
                        <span id="counterSpan2" class="ms-2 badge bg-danger rounded-pill"></span>
                        </span>
                    </a>
                </li>
                {%endif%}
            </ul>
            <ul class="nav navbar-nav ms-auto w-20 justify-content-end">
                <li class="nav-item">
                    <span data-bs-toggle="tooltip"> {# extra span is needed so that tooltip AND modal can be applied to the same button #}
                        <span style="cursor:pointer;" hx-get="{% url 'metadata:settings_modal'%}"
                              hx-target="#modalContainer" hx-trigger="click" data-bs-toggle="modal"
                              data-bs-target="#modalContainer" class="btn btn-dark" title="Settings"
                              id="settings_button">
                        <i class="fa-solid fa-gear"></i>
                        </span>
                    </span>

                </li>
            </ul>
        </div>
    </div>
</nav>


<main class="container">
    {% csrf_token %}
    <div id="content">
        <h2 class="mb-4">{% block title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
    </div>
</main>

<div id="modalContainer" class="modal modal-lg modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<div id="exampleModal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div id="deleteModal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
<script src="{% static 'metadata/metadata.js' %}"></script>
</html>